@model Contact;



@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title</h2>


<form asp-action="Details" method="post">

    <div class="form-group">
        <label asp-for="F_Name"><strong>First Name</strong></label>
        <label>@Model.F_Name</label>
    </div>
    <div class="form-group">
        <label asp-for="L_Name"><strong>Last Name</strong></label>
        <label>@Model.L_Name</label>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"><strong>Phone Number</strong></label>
        <label>@Model.PhoneNumber</label>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress"><strong>Email Address</strong></label>
        <label>@Model.EmailAddress</label>
    </div>
    <div class="form-group">
        <label asp-for="Category"><strong>Category</strong></label>
        <label>@Model.Category.Name</label>
    </div>
    <div class="form-group">
        <label asp-for="Organization"><strong>Organization</strong></label>
        <label>@Model.Organization</label>
    </div>
    <div class="form-group">
        <label asp-for="DateAdded"><strong>Date Added</strong></label>
        <label>@Model.DateAdded</label>
    </div>



    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>

</form>
